body {
  background-color: #eee;
  color: #555;
  width: 60%;
  margin: 0 auto 1%;
  font-family: serif;
  font-size: 0.9em;
  line-height: 160%;
}

a {
  color: black;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #444;
}

#header h1 {
  margin: 0;
  padding: 1em 1.5em;
}
#header p.navigation {
  margin: 0;
  padding: 0.5em 1em;
  background-color: #f3f3f3;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

#contents {
  background-color: white;
  margin: 0;
  padding: 0.75em;
  border: 1px solid #dfdfdf;
}
#contents h2 {
  margin: 0;
  padding: 0.25em 0.5em;
  background-color: #333;
}
#contents h2 a {
  color: #efefef;
}
#contents .post-contents {
  padding: 0.5em 1em;
}
#contents .post-contents code {
  padding: 1px;
  background-color: #666;
  color: white;
}
#contents .post-contents .coderay {
  background-color: #223;
  padding: 5px;
  margin: 1em;
}
#contents .post-contents .coderay code {
  background: none;
  padding: none;
}
#contents .post-contents .coderay .s {
  color: #a8ff60;
}
#contents .post-contents .coderay .s .dl {
  color: #336633;
}
#contents .post-contents .coderay .rx {
  color: #b18a3d;
}
#contents .post-contents .coderay .rx .dl, #contents .post-contents .coderay .rx .mod {
  color: #ff8000;
}
#contents .post-contents .coderay .r {
  color: #96cbfe;
}
#contents .post-contents .coderay .cl, #contents .post-contents .coderay .co {
  color: #ffffb6;
}
#contents .post-contents .coderay .fu {
  color: #ffd2a7;
}
#contents .post-contents .coderay .pc, #contents .post-contents .coderay .sy {
  color: #99cc99;
}
#contents .post-details {
  background-color: #efefef;
  padding: 1px 5px;
  margin-bottom: 2em;
}
#contents .post-comments {
  margin: 0.5em 1em;
}
#contents .post-comments .comment {
  margin-bottom: 1em;
}
#contents .post-comments .comment-info {
  border-bottom: 1px solid #dfdfdf;
}
#contents .post-comments .comment-contents {
  margin: 0.25em 0.5em;
}
#contents .post-add-comment p {
  margin: 1em 2em;
  position: relative;
}
#contents .post-add-comment p label {
  display: block;
  width: 20%;
  float: left;
}
#contents .post-add-comment p input[type=text], #contents .post-add-comment p textarea {
  width: 50%;
  background: white;
  border: 1px solid #dfdfdf;
  color: #333;
}
#contents .post-add-comment p input[type=text].error, #contents .post-add-comment p textarea.error {
  border-color: red;
}
#contents .post-add-comment p span.error {
  color: red;
  display: block;
  position: absolute;
  top: 0;
  left: 72%;
}
#contents .pagination {
  text-align: center;
  font-size: 1.2em;
}
#contents .pagination strong, #contents .pagination a {
  padding: 2px 4px;
  border: 1px solid;
}
#contents .pagination a {
  border-color: #dfdfdf;
}
#contents .pagination a:hover {
  background-color: #eee;
}
#contents .pagination strong {
  border-color: white;
  background-color: #dfdfdf;
}

#footer {
  font-family: georgia, serif;
  font-style: italic;
  text-align: center;
}
