!!! Strict
%html{html_attrs}
  %head 
    %title Honk
  %body
    %h1 Honk
    #contents
      = yield
    %p#footer
      Powered by <a href="http://github.com/madx/honk" 
      title="A minimalistic, text-based blogging engine">Honk</a>.
