%h2 There's no such page

- if @message
  %p= @message
- else
  %p
    The URL you request doesn't lead anywhere.

%p
  You can
  %a{:href => '/', :title => 'Home page'} return to the home page
  and continue your navigation from here.
